@{
  Layout = "_Layout";
}
@using HairSalon.Models;

<div class="row">
  <div class="col">
    <h4>@Model.Name's Clients</h4>
    <input type="text" id="search-clients" onkeyup="search()" placeholder="Search clients..">
    <div id="client-box">
      <ul>
        @if (Model.Clients.Count == 0)
        {
          <li>No clients currently assigned to this stylist.</li>
        }
        @foreach (Client client in Model.Clients)
        {
          <li>
            @client.Name  
            @client.PhoneNumber 
            <div id="float-right">
              <a href='@Url.Action("Delete", "Clients", new {clientId = client.ClientId})'><img id="delete-button" src="~/media/delete-button.jpg"></a>
            </div>
          </li>
        }
    </ul>
    </div>
  </div>
  <div class="col" id="about-div">
    <h4>About This Stylist</h4>
    <div id="float-left">
      @if (@Model.PicturePath != null)
      {
        <img src=@Model.PicturePath alt="A picture of @Model.Name"  id="staff-picture">
      }
    </div>
    <p>@Model.Description</p>
  </div>
</div>
<div id="float-right">
  <button class="btn-red" type="button"> @Html.ActionLink("Remove Stylist", "Delete", new {stylistId = Model.StylistId})</button>
</div>
<button class="btn-purple"> @Html.ActionLink("Back", "Index")</button>
<button class="btn-blue"> @Html.ActionLink("Add Client", "Create", "Clients", new {stylistId = Model.StylistId}) </button>
<script src="~/scripts/search.js"></script>